<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarFactura(input.value)" type="text" class="form-control"
                    placeholder="Buscar por # factura...">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/factura','nuevo']" type="button"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear Factura</i>
                    </button>
                </div>

                <h3 class="card-title">Facturas registradas (<small>{{totalRegistros}}</small>)</h3>
                <div class="table-responsive">
                    <table class="table-bordered" width="135%">
                        <thead>
                            <tr>
                                <th style="width:2.25%">Cliente</th>
                                <th style="width:6.25%">Tipo</th>
                                <th style="width:11.25%">Factura</th>
                                <th style="width:9.25%">Fecha</th>
                                <th style="width:6.25%">Concepto</th>
                                <th style="width:6.25%">Base Imponible IVA 0%</th>
                                <th style="width:6.25%">Base Imponible IVA</th>
                                <th style="width:6.25%">Iva</th>
                                <th style="width:6.25%">Total</th>
                                <th style="width:6.25%">Base Imp. Ret.</th>
                                <th style="width:26.25%">Cbte. Tetenc.</th>
                                <th style="width:6.25%">Agnt. Retención</th>
                                <th style="width:6.25%">Ret. I.R</th>
                                <th style="width:6.25%">Ret. Iva</th>
                                <th style="width:6.25%">Total 2</th>
                                <th style="width:6.25%">Acciones</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let factura of facturas">
                                <td style="width: 25%">{{factura.cliente.nombre}}</td>
                                <td>{{factura.tipo}}</td>
                                <td>{{factura.numFactura}}</td>
                                <td>{{factura.fecha | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center">
                                    <label *ngIf="factura.concepto==='VENTAS'" class="label label-success">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='ANULADO'" class="label label-danger">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='TRANSPORTE'" class="label label-primary">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='SERVICIOS CONTABLES'" class="label label-info">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='MATERIALES'" class="label label-warning">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='ARRIENDO'" class="label label-info">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='MONITOREO'" class="label label-light">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='COMBUSTIBLE'" class="label label-secondary">{{factura.concepto}}</label>
                                    <label *ngIf="factura.concepto==='DEVOLUCION'" class="label label-danger">{{factura.concepto}}</label>
                                    
                                </td>
                                <td>{{factura.bImponible0}}</td>
                                <td>{{factura.bImponible}}</td>
                                <td>{{factura.iva}}</td>
                                <td>{{factura.total}}</td>
                                <td>{{factura.bImpRet}}</td>
                                <td>{{factura.cbte}}</td>
                                <td>{{factura.agnt}}</td>
                                <td>{{factura.retIr}}</td>
                                <td>{{factura.retIva}}</td>
                                <td>{{factura.total2}}</td>
                                <td class="text-center">
                                    <button [routerLink]="['/factura', factura._id]" class="btn btn-primary mb-2">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button (click)="borrarFactura(factura)" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <br>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-3">
                    Anteriores
                </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>