<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarFactura(input.value)" type="text" class="form-control"
                    placeholder="Buscar factura...">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/factura','nuevo']" type="button"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear Factura</i>
                    </button>
                </div>

                <h3 class="card-title">Facturas registradas (<small>{{totalRegistros}}</small>)</h3>
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Tipo</th>
                            <th>Factura</th>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Base Imponible IVA 0%</th>
                            <th>Base Imponible IVA</th>
                            <th>Iva</th>
                            <th>Total</th>
                            <th>Base Imp. Ret.</th>
                            <th>Cbte. Tetenc.</th>
                            <th>Agnt. Retención</th>
                            <th>Ret. I.R</th>
                            <th>Ret. Iva</th>
                            <th>Total 2</th>
                            <th>Acciones</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let factura of facturas">                    
                            <td>{{factura.cliente.nombre}}</td>
                            <td>{{factura.tipo}}</td>
                            <td>{{factura.numFactura}}</td>
                            <td>{{factura.fecha}}</td>
                            <td>{{factura.concepto}}</td>
                            <td>{{factura.bImponible0}}</td>
                            <td>{{factura.bImponible}}</td>
                            <td>{{factura.iva}}</td>
                            <td>{{factura.total}}</td>
                            <td>{{factura.bImpRet}}</td>
                            <td>{{factura.cbte}}</td>
                            <td>{{factura.agnt}}</td>
                            <td>{{factura.retIr}}</td>
                            <td>{{factura.retIva}}</td>
                            <td>{{factura.total2}}</td>
                            <td class="text-center">
                                <button [routerLink]="['/factura', factura._id]" class="btn btn-primary mb-2">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="borrarFactura(factura)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-3">
                Anteriores
            </button>

            <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                Siguientes
            </button>

            </div>
        </div>
    </div>
</div>