<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarFactura(f)">


                    <div class="row">

                        <div class="col">
                            <label>Cliente</label>

                            <select (change)="cambioCliente($event.target.value)" [(ngModel)]="factura.cliente"
                                name="cliente" class="form-control" required>

                                <option *ngFor="let cliente of clientes" [value]="cliente._id">
                                    {{cliente.nombre}}
                                </option>
                            </select>
                        </div>


                        <div class="col">
                            <label>Tipo de factura</label>

                            <select [(ngModel)]="factura.tipo" (ngModelChange)="calculoFactura($event)" name="tipo"
                                class="form-control" required>

                                <option>VENTA DE BIENES Y/O PRESTACION DE SERVICIOS</option>
                                <option>COMPRAS</option>
                                <option>NOTA DE CREDITO</option>
                                <option>NOTA DE VENTA</option>
                            </select>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col">
                            <label>Número de Factura</label>
                            <input [(ngModel)]="factura.numFactura" name="numFactura" type="text" class="form-control"
                                placeholder="Número de Factura" required>
                        </div>

                        <div class="col">
                            <label>Fecha</label>
                            <input [(ngModel)]="factura.fecha" name="fecha" type="date" class="form-control"
                                placeholder="Fecha">
                        </div>

                        <div class="col">
                            <label>Concepto</label>

                            <select [(ngModel)]="factura.concepto" name="concepto" class="form-control" required>

                                <option>VENTAS</option>
                                <option>ANULADO</option>
                                <option>TRANSPORTE</option>
                                <option>SERVICIOS CONTABLES</option>
                                <option>MATERIALES</option>
                                <option>ARRIENDO</option>
                                <option>MONITOREO</option>
                                <option>COMBUSTIBLE</option>
                                <option>DEVOLUCION</option>
                            </select>
                        </div>

                        <div class="col">
                            <label>Base Imponible Iva 0%</label>
                            <input [(ngModel)]="factura.bImponible0" name="bImponible0" type="number" step="0.01" class="form-control"
                                placeholder="Base Imponible Iva 0%">
                        </div>

                    </div>

                    <br>

                    <div class="row">




                        <div class="col">
                            <label>Base Imponible Iva</label>
                            <input [(ngModel)]="factura.bImponible" (ngModelChange)="calculoDatos($event)" name="bImponible" type="number" step="0.01" class="form-control"
                                placeholder="Base Imponible Iva">
                        </div>

                        <div class="col">
                            <label>Iva</label>
                            <input [(ngModel)]="factura.iva" name="iva" type="number" step="0.01" class="form-control"
                                placeholder="Iva">
                        </div>

                        <div class="col">
                            <label>Total</label>
                            <input [(ngModel)]="factura.total" (ngModelChange)="calculoDatos($event)" name="number" step="0.01" type="text" class="form-control"
                                placeholder="Total">
                        </div>

                    </div>

                    <br>

                    <div *ngIf="mostrarCol">

                        <div class="row">


                            <div  class="col">
                                <label>Base Imp. Ret.</label>
                                <input [(ngModel)]="factura.bImpRet" (ngModelChange)="onChanges1($event)" name="bImpRet" type="number" step="0.01" class="form-control"
                                    placeholder="Base Imp. Ret.">
                            </div>

                            <div class="col">
                                <label>Cbte. Retenc.</label>
                                <input [(ngModel)]="factura.cbte" name="cbte" type="text" class="form-control"
                                    placeholder="Cbte. Retenc.">
                            </div>

                            <div class="col">
                                <label>Agnt. Retención</label>
                                <input [(ngModel)]="factura.agnt" name="agnt" type="text" class="form-control"
                                    placeholder="Agnt. Retención">
                            </div>

                        </div>

                        <br>

                        <div class="row">


                            <div class="col">
                                <label>Ret. I.R</label>
                                <input [(ngModel)]="factura.retIr" name="retIr" type="number" step="0.01" class="form-control"
                                    placeholder="Ret. I.R">
                            </div>

                            <div class="col">
                                <label>Ret. Iva</label>
                                <input [(ngModel)]="factura.retIva" name="retIva" type="number" step="0.01" class="form-control"
                                    placeholder="Ret. Iva">
                            </div>

                            <div class="col">
                                <label>Total 2</label>
                                <input [(ngModel)]="factura.total2" name="total2" type="number" step="0.01" class="form-control"
                                    placeholder="Total 2">
                            </div>

                        </div>

                    </div>



                    <div class="row mt-4">


                        <div class="col">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            <a routerLink="/facturas" class="btn btn-inverse waves-effect waves-light">Cancelar
                            </a>
                        </div>


                    </div>





                </form>




            </div>
        </div>
    </div>
</div>