

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Totales Facturas (<small>{{totalRegistros}}</small>)</h3>
                <dx-data-grid [dataSource]="this.facturasAgr"
                              [allowColumnReordering]="true"
                              [allowColumnResizing]="true"
                              [columnAutoWidth]="true"
                              [columnHidingEnabled]="false"
                              [columnMinWidth]="50"
                              [columnResizingMode]="'nextColumn'"
                              [hoverStateEnabled]="true"
                              [rowAlternationEnabled]="true"
                              [showBorders]="true"
                              [showColumnLines]="true"
                              [showRowLines]="false"
                              >

                              <dxo-grouping
                                    [autoExpandAll]="false"
                              ></dxo-grouping>

                              <dxo-selection 
                              mode="multiple">
                              </dxo-selection>

                              <dxo-export
                              fileName="Reporte 1"
                              [allowExportSelectedData]="true"
                              [enabled]="true"
                              >
                              </dxo-export>

                              <dxo-column-chooser
                              mode="dragAndDrop"
                              [allowSearch]="true"
                              [enabled]="true">
                              </dxo-column-chooser>

                              <dxo-search-panel
                              [highlightCaseSensitive]="false"
                              [visible]="true"
                              [width]="300">
                              </dxo-search-panel>

                              <dxo-sorting
                              mode="multiple">
                              </dxo-sorting>

                              <dxo-header-filter
                              [visible]="true">
                              </dxo-header-filter>

                              <dxo-filter-row 
                              [visible]="true">
                              </dxo-filter-row>

                              <dxo-filter-panel
                              [filterEnabled]="true"
                              [visible]="true">
                              </dxo-filter-panel>

                              <dxo-load-panel
                              [enabled]="true"
                              [indicatorSrc]="'../../../../assets/images/dia-b.png'"
                              [showIndicator]="true"
                              [showPane]="true">
                              </dxo-load-panel>

                              <dxo-paging 
                              [pageSize]="15"
                              [pageIndex]="1"> <!-- Shows the second page -->
                              </dxo-paging>

                                <dxi-column dataField="cliente.nombre" [groupIndex]="0" [caption]="'Cliente'"></dxi-column>
                                
                                <dxi-column dataField="anio" [groupIndex]="1" [caption]="'Año'"></dxi-column>
                                
                                <dxi-column [customizeText]="customizeText" dataField="mes" [groupIndex]="2" [caption]="'Mes'"></dxi-column>
                                
                                <dxi-column  dataField="tipo" [groupIndex]="3" [caption]="'Tipo'"></dxi-column>
                                    
                                <dxi-column 
                                [caption]="'Fecha'" 
                                [allowFiltering]="true" 
                                [dataField]="'fecha'"
                                dataType="date"
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'# Factura'" 
                                [allowFiltering]="true" 
                                [dataField]="'numFactura'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Concepto'" 
                                [allowFiltering]="true" 
                                [dataField]="'concepto'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Base Imponible Iva 0%'" 
                                [allowFiltering]="true" 
                                [dataField]="'bImponible0'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Base Imponible Iva'" 
                                [allowFiltering]="true" 
                                [dataField]="'bImponible'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Iva'" 
                                [allowFiltering]="true" 
                                [dataField]="'iva'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Total'" 
                                [allowFiltering]="true" 
                                [dataField]="'total'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Base Imp. tet.'" 
                                [allowFiltering]="true" 
                                [dataField]="'bImpRet'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Cbte. Retenc'" 
                                [allowFiltering]="true" 
                                [dataField]="'cbte'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Agnt. Retención'" 
                                [allowFiltering]="true" 
                                [dataField]="'agnt'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Ret. I.R'" 
                                [allowFiltering]="true" 
                                [dataField]="'retIr'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Ret. Iva'" 
                                [allowFiltering]="true" 
                                [dataField]="'retIva'"                                
                                ></dxi-column>

                                <dxi-column 
                                [caption]="'Total'" 
                                [allowFiltering]="true" 
                                [dataField]="'total2'"                                
                                ></dxi-column>

                                

                                <dxo-summary>                                                                      
                                    <dxi-group-item
                                        column="bImponible0"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item> 
                                    
                                    <dxi-group-item
                                        column="bImponible"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    <dxi-group-item
                                        column="iva"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    <dxi-group-item
                                        column="total"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    <dxi-group-item
                                        column="bImpRet"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    <dxi-group-item
                                        column="retIr"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    <dxi-group-item
                                        column="retIva"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true">
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    

                                    <dxi-group-item                                    
                                        column="total2"
                                        summaryType="sum"                                        
                                        displayFormat="Total: {0}"
                                        [showInGroupFooter]="true"
                                        >
                                        <dxo-value-format precision="2"></dxo-value-format>
                                    </dxi-group-item>

                                    
                                </dxo-summary>  

                    
                                
                </dx-data-grid>

            </div>
        </div>
    </div>
</div>
