<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarCliente(input.value)" type="text" class="form-control"
                    placeholder="Buscar cliente...">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="abrirSweetAlert()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear Cliente</i>
                    </button>
                </div>

                <h3 class="card-title">Clientes registrados (<small>{{_clienteService.totalClientes}}</small>)</h3>
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Cliente</th>
                            <th class="text-nowrap">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <th>
                                <img (click)="actualizarImagen(cliente)" [src]="cliente.img | imagen:'cliente'" class="img-50 img-circle pointer">
                            </th>
                            <th>
                                <input [(ngModel)]="cliente.nombre" name="cliente" type="text" class="form-control" placeholder="Nombre del Cliente">
                            </th>
                            <th>
                                <button (click)="guardarCliente(cliente)" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>

                                <button (click)="borrarCliente(cliente)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>