<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarCliente(input.value)" type="text" class="form-control"
                    placeholder="Buscar cliente...">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="text-right">
                    <button (click)="abrirSweetAlert()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear Cliente</i>
                    </button>
                </div> -->
                <div class="text-right">
                    <button [routerLink]="['/cliente','nuevo']" type="button"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear Cliente</i>
                    </button>
                </div>

                <h3 class="card-title">Clientes registrados (<small>{{_clienteService.totalClientes}}</small>)</h3>
               

                <div class="table-responsive">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cédula</th>
                            <th>Ruc</th>
                            <th>Clave</th>
                            <th class="text-nowrap">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.cedula}}</td>
                            <td>{{cliente.ruc}}</td>
                            <td>{{cliente.clave}}</td>
                            <td class="text-center">
                                <button [routerLink]="['/cliente', cliente._id]" class="btn btn-primary mr-3">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="borrarCliente(cliente)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                            
                            
                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-3">
                Anteriores
            </button>

            <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                Siguientes
            </button>
            
            </div>
        </div>
    </div>
</div>