

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/reporte','nuevo']" type="button"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"> Crear Reporte</i>
                    </button>
                </div>

                <h3 class="card-title">Reportes registrados (<small>{{totalRegistros}}</small>)</h3>
                <div class="table-responsive">
                    <table class="table-bordered" width="135%">
                        <thead>
                            <tr>
                                <th>anio</th>
                                <th>cedula</th>
                                <th>clave</th>
                                <th>nombre</th>
                                <th>ruc</th>
                                <th>totalEg</th>
                                <th>totalIng</th>                                
                                <th>totalRet</th>
                                
                                
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let reporte of reportes">
                                
                                <td>{{reporte.anio}}</td>
                                <td>{{reporte.cedula}}</td>
                                <td>{{reporte.clave}}</td>
                                <td>{{reporte.nombre}}</td>
                                <td>{{reporte.ruc}}</td>
                                <td>{{reporte.totalEg}}</td>
                                <td>{{reporte.totalIng}}</td>
                                <td>{{reporte.totalRet}}</td>
                                
                                
                                <td class="text-center">
                                    <button [routerLink]="['/reporte', reporte._id]" class="btn btn-primary mb-2">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button (click)="borrarReporte(reporte)" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <br>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-3">
                    Anteriores
                </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>